* {
  box-sizing: border-box;
}

.top {
  float: left;
  width: 100%;
  padding: 10px;
  background-color:#00CAFE;
}

.left {
  float: left;
  width: 20%;
  padding: 10px;
  background-color:#FFCAFE;
}

.center {
  float: left;
  width: 50%;
  padding: 10px;
}

.right {
  float: left;
  width: 30%;
  padding: 10px;
  background-color:#C0FFEE;
}

.bottom {
  float: left;
  width: 100%;
  padding: 10px;
  background-color:#B1CAFE;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .left {
    width: 100%;
  }
  .center {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}